@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #101212;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	background: white;
}

input[type="checkbox"]:checked {
	background: white;
}

::-webkit-calendar-picker-indicator {
	border-radius: 100%;
	background: white;
}

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.02);
	backdrop-filter: blur(8px);
	z-index: 40;
}

.blur-background {
	filter: blur(100px);
	opacity: 0.35;
}

.tooltip {
	display: inline-block;
	position: absolute;
}

.tooltip.top {
	padding-bottom: 8px;
	left: 0;
	top: -100%;
}
