@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #101212;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	background: white;
}

input[type="checkbox"]:checked {
	background: white;
}
